<section id="contact">
	<div class="sectionheader">	<h1>CONTACT</h1></div>
	<article>
	<p>For any query click on the message icon below and mail me your query.i will try my best to answer you .</p>
		
			<label for="checkcontact" class="contactbutton"><div class="mail"></div></label><input id="checkcontact" type="checkbox">
	
			<form action="/thankyou" method="post" class="contactform">
				<p class="input_wrapper"><input type="text" name="contact_name" value=""  id ="contact_nom" required><label for="contact_nom">NAME</label></p>
				<p class="input_wrapper"><input type="text" name="contact_email" value=""  id ="contact_email" required><label for="contact_email">EMAIL</label></p>
				<p class="input_wrapper"><input type="text" name="contact_subjet" value=""  id ="contact_sujet" required><label for="contact_sujet">SUBJECT</label></p>
				<p class="textarea_wrapper"><textarea name="contact_message" id="contact_message" required></textarea></p>
				<p class="submit_wrapper"><input type="submit" value="Submit"></p>			
						
			</form>
	</article>
</section>




