<main class= "main">
    <!-- home -->
    <section class="home" id="home">
      <div class="home__container container grid">


        <img src="/images/home-img.png" alt="" class="home__img" />

        <div class="home__data">
          <div class="home-content">
            <div class="text-1 text-white">Hello, my name is</div>
            <div class="text-2 text-white"><%= user.username %></div>
            <div class="text-3 text-white">And I'm a <span class="typing"></span></div>
        </div>
          <a href="/about/<%=user.id%>" class="button">
            <i class="uil uil-user button__icon"></i>
              More About Me
          </a>
        </div>



       

        <div class="my__info">
          

          <div class="info__item">
            <img src="/images/leetcode.png" alt="" class="info__icon" /> 

          <div>
              <h3 class="info__title">Leetcode</h3>
              <span class="info__subtitle"><%= user.leetcode %></span>
            </div>
          </div>

          <div class="info__item">
            <img src="/images/code-forces.png" alt="" class="info__icon" />
            

            <div>
              <h3 class="info__title">Codeforces</h3>
              <span class="info__subtitle"><%= user.codeforces %></span>
            </div>
          </div>
        </div>
      </div>

    </section>

    
  

        


















































  </main>
