<section class="qualification">
    <h2 data-heading="My Journey" class="section__title">Qualification</h2>
    <div class="qualification__container container grid">
      <div class="education">
        <h3 class="qualification__title">
          <i class="uil uil-graduation-cap"></i> Education
        </h3>

        <div class="timeline">
          <div class="timeline__item">
            <div class="circle__dot"></div>
            <h3 class="timeline__title">XYZ university</h3>
            <p class="timeline__text">BFA in graphic design</p>
            <span class="timeline__date">
              <i class="uil uil-calendar-alt"></i>
              2011-13
            </span>
          </div>

          <div class="timeline__item">
            <div class="circle__dot"></div>
            <h3 class="timeline__title">ABC university</h3>
            <p class="timeline__text">diploma in web design</p>
            <span class="timeline__date">
              <i class="uil uil-calendar-alt"></i>
              2013-present
            </span>
          </div>

          <div class="timeline__item">
            <div class="circle__dot"></div>
            <h3 class="timeline__title">KLM university</h3>
            <p class="timeline__text">Bs in web development</p>
            <span class="timeline__date">
              <i class="uil uil-calendar-alt"></i>
              2013-2017
            </span>
          </div>
        </div>
      </div>
      <div class="experience">
        <h3 class="qualification__title">
          <i class="uil uil-suitcase"></i> Experience
        </h3>

        <div class="timeline">
          <div class="timeline__item">
            <div class="circle__dot"></div>
            <h3 class="timeline__title">Copalopa Inc.(sometown,N3)</h3>
            <p class="timeline__text">Lead/senior Ux Designer</p>
            <span class="timeline__date">
              <i class="uil uil-calendar-alt"></i>
              2018-present
            </span>
          </div>

          <div class="timeline__item">
            <div class="circle__dot"></div>
            <h3 class="timeline__title">Gagoble xyz</h3>
            <p class="timeline__text">Web site/ux designern</p>
            <span class="timeline__date">
              <i class="uil uil-calendar-alt"></i>
              2015-2018
            </span>
          </div>

          <div class="timeline__item">
            <div class="circle__dot"></div>
            <h3 class="timeline__title">tokopala Inc.sometown</h3>
            <p class="timeline__text">Junior Ux Desiner</p>
            <span class="timeline__date">
              <i class="uil uil-calendar-alt"></i>
              2013-2015
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>