<section class="skills section" id="skills">
    <h2 data-heading="My Abilities" class="section__title">My Experience</h2>

    <div class="skills__container container grid">
      <div class="skills__tabs">
        <div class="skills__header skills__active" data-target="#frontend">
          <i class="uil uil-brackets-curly skills__icon"></i>
          <div>
            <h1 class="skills__title">Frontend developer</h1>
            <span class="skills__subtitle">more than 6 months </span>
           </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>

        <div class="skills__header" data-target="#language">
          <i class="uil uil-swatchbook skills__icon"></i>
          <div>
            <h1 class="skills__title">Languages</h1>
            <span class="skills__subtitle">more than 1 years</span>
           
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>

        <div class="skills__header" data-target="#backend">
          <i class="uil uil-server-network skills__icon"></i>
          <div>
            <h1 class="skills__title">Backend developers.</h1>
            <span class="skills_subtitle"
              >More than 2 years
            </span>
            
          </div>
          <i class="uil uil-angle-down skills__arrow"></i>
        </div>
      </div>

      <div class="skills__content">
        <div class="skills__group skills__active" data-content id="frontend" >
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">HTML</h3>
                <span class="skills__number">80%</span>
              </div>

              <div class="skills__bar">
                <span class="skills__percentage"  style="width: 80%;"></span>
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">CSS</h3>

                <span class="skills__number">70%</span>
              </div>

              <div class="skills__bar">
                <span class="skills__percentage" style="width: 70%"></span>
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">JAVASCRIPT</h3>
                
                <span class="skills__number">60%</span>
              </div>

              <div class="skills__bar">
                <span class="skills__percentage" style="width: 60%"></span>
              </div>
            </div>

           
          </div>
        </div>

        <div class="skills__group"  data-content id="language">
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">C++</h3>
                <span class="skills__number">90%</span>
              </div>

              <div class="skills__bar">
                <span class="skills__percentage" style="width: 90%"></span>
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">C</h3>

                <span class="skills__number">80%</span>
              </div>

              <div class="skills__bar">
                <span class="skills__percentage" style="width: 80%"></span>
              </div>
            </div>

           

           
          </div>
        </div>


        <div class="skills__group" data-content id="backend">
          <div class="skills__list grid">
            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Nodejs</h3>
                <span class="skills__number">70%</span>
              </div>

              <div class="skills__bar">
                <span class="skills__percentage" style="width: 70%"></span>
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">Mongo</h3>

                <span class="skills__number">50%</span>
              </div>

              <div class="skills__bar">
                <span class="skills__percentage" style="width: 50%"></span>
              </div>
            </div>

            <div class="skills__data">
              <div class="skills__titles">
                <h3 class="skills__name">MYSql</h3>

                <span class="skills__number">70%</span>
              </div>

              <div class="skills__bar">
                <span class="skills__percentage" style="width: 70%"></span>
              </div>
            </div>

           
          </div>
        </div>

      </div>
    </div>
  </section>


  


