

<container class="thankyou">
    <row>
      <columns small="12" >
        
        <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border-left:1px solid #e8e7e5; border-right:1px solid #e8e7e5; border-bottom:1px solid #e8e7e5; padding: 10px" bg="#FFFFFF">
          
          <div width="350" height="150" align="center" style="border-radius: 50%;">
            <img src="http://www.pickmaid.com/dubai/assets/images/success-icon.png" width="60" height="60" style="padding-top:5px" alt="" border="0"/>
          </div>

          <tr>
            <td align="center" style="padding:0px 40px 40px 40px"><p style="color:#fff; font-size:32px; text-align:center; font-family: Verdana, Geneva, sans-serif">Hello! <br> <%= name %></p>
                <b style="color:#fff; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif; line-height:22px ">
                    Thanks a bunch for filling that out form </b><br/>
                    It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you.</br>
                
                <br />
            </p></td>
          </tr>
        </table>
      </columns>
    </row>
</container>