
.about__container
{
    grid-template-columns: repeat(2,1fr);
    column-gap:4rem; 
    align-items:center;
}

.about__img
{
    width:480px;
    border-radius:0.75rem;
    justify-self: center;
}


.about__heading
{

    font-size:var(--h3-font-size);
    margin-bottom: var(--mb-0-75);

}

.about__description
{
 text-align: justify;
 padding-right:6rem;
 margin-bottom:var(--mb-2);

}


.about__info
{
    
    grid-template-columns: repeat(3,140px);
    column-gap:.5rem;
    margin-bottom:var(--mb-3);
}

.about__box {
    text-align: center;
    border-radius:.25rem;
    padding:1rem 1.25rem;
    background-color:var(--box-color);  
}

.about__icon {
    font-size: 1.5rem;
    color:var(--skin-color);
    margin-bottom: var(--mb-0-75);
}

.about__title
{
font-size:var(--small-font-size);
}

.about__subtitle
{
   font-size: var(--smaller-font-size); 
}

